@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');
:root {
    /* --background-color: #0d0c14; */
    --background-color: #0f0e13d8;
    --background-card: #0000004b;
    --offwhite-color: #e4e4dd;
    --lowwhite-color: #a0a0a0;
    --transparent-color: transparent;
    --main-color: #ff2012;
    --border-color: #303030;
    --default-font: font-family: 'Work Sans', sans-serif;
    --title-font: font-family: 'Akronim', cursive;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    scroll-behavior: smooth;
    background-color: var(--background-color);
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif;
}

.box-shadow2 {
    box-shadow: var(--background-color);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.116),
                15px 15px 20px rgba(0, 0, 0, 0.1),
                5px 5px 5px rgba(255, 255, 255, 0.068),
                5px 5px 5px rgba(0, 0, 0, 0.1);
}




















#count {
    background-image: url('../asset/images/count.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 90px 0;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.116),
                15px 15px 20px rgba(0, 0, 0, 0.1),
                5px 5px 5px rgba(255, 255, 255, 0.068),
                5px 5px 5px rgba(0, 0, 0, 0.1);
}
.countcontent {
    background-color: var(--background-color);
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    
}
.countcontent i {
    color: var(--main-color);
    font-size: 42px;
}
.countcontent h6 {
    color: var(--offwhite-color);
    font-size: 52px;
    margin-top: 10px;
}
.countcontent p {
    color: var(--offwhite-color);
    font-size: 16px;
}
@media(max-width: 767px){
    .countcontent {
        padding: 10px 0;  
    }
    #count {
        padding: 25px 0;
    }
}	
	










  









































































































/* .historysection {
    width: 100%;
    padding: 60px 0;
}
.xp-headline h1 {
    color: var(--offwhite-color);
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 90px;
}
.xpcontents {
    border-left: 1px solid #636363;
    padding: 20px 30px;
}
.xp-title {
    color: var(--offwhite-color);
    font-size: 30px;
}
.card-box {
    position: relative;
    box-shadow: inset 10px 10px 30px rgba(0, 0, 0, 0.2),
                inset -15px -15px 30px rgba(255, 255, 255, 0.1),
                10px 10px 30px rgba(0, 0, 0, 0.3),
                -10px -10px 30px rgba(255, 255, 255, 0.151);
    border-radius: 15px;
    padding: 8px 8px;
}
.box {
    background-color: #09060f44;
    border: 2px solid #1e1f23;
    border-radius: 15px;
    padding: 20px 30px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    transition: 0.6s ease;
}
.box:hover {
    background: linear-gradient(15deg, rgba(0,0,0,0.5830707282913166) 0%, rgba(255,255,255,0.12088585434173671) 100%);
}
.card-box::before {
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: 10px;
    left: -38px;
    background-color: var(--main-color);
    border: 2px solid white;
}
.xpcontents h3 {
    color: var(--offwhite-color);
    font-size: 32px;
    letter-spacing: 0.6px;
    font-weight: 700;
}
.xpcontents h6 {
    color: var(--offwhite-color);
    font-size: 18px;
    letter-spacing: 0.6px;
    font-weight: 500;
}
.xpcontents p {
    color: var(--lowwhite-color);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.6px;
    line-height: 26px;
    margin-top: 30px;
}
.year {
    color: var(--main-color);
} */